<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Edit Article</h1>
        <form method="post">
            {% csrf_token %}
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Title</label>
                <input type="text" class="form-control" id="id_title" name="title" value="{{ form.title.value }}">
            </div>
            <div class="form-group">
                <label for="id_author">Author</label>
                 <!-- 使用 Django 的表单字段渲染，并通过 readonly 属性设置为只读 -->
                <input type="text" class="form-control" id="id_author" name="author" value="{{ form.author.value }}" readonly>
            </div>
            <div class="form-group">
                <label for="id_summary">Summary</label>
                <textarea class="form-control" id="id_summary" name="summary" rows="3">{{ form.summary.value }}</textarea>
            </div>
            <div class="form-group">
                <label for="id_keywords">Keywords</label>
                <input type="text" class="form-control" id="id_keywords" name="keywords"  value="{{ form.keywords.value }}">
            </div>
            <div class="form-group">
                <label for="id_content">Content</label>
                <textarea class="form-control" id="id_content" name="content" rows="10">{{ form.content.value }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     {% block css %}
    <script src="/static/css/article.css"></script>
{% endblock %}
</body>
</html>
