<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/home.css?version=1.0.0" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="top-buttons">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'home' %}">Homepage</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" class="navbar-brand">History</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'personal' %}">Personal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'publish' %}">Publish</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <h1 class="text-center">Personal Page</h1>
        <form method="post" onsubmit="return confirmUpdate();">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user_form.username.value }}">
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user_form.email.value }}">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </form>
        <hr>
        <h2>Your Articles</h2>
        <ul class="list-group">
            {% for article in user_articles %}
                <li class="list-group-item">
                    <div class="article-card">
                        <div class="article-title">
                            <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                        </div>
                        <div class="article-summary">
                            {{ article.summary }}
                        </div>
                        <div class="keywords">
                            <p class="article-publish mt-2">keywords:</p>
                            <p class="article-keywords mt-2">{{ article.keywords }}</p>
                        </div>
                        <div class="article-publish mt-2">
                            Publish: {{ article.publish_time }}
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-info llm-explain-btn" data-article-id="{{ article.id }}">LLM Explain</button>
                            <a href="{% url 'edit_article' article.id %}" class="btn btn-success">Edit</a>
                            <form method="post" action="{% url 'delete_article' article.id %}" onsubmit="return confirmDelete();"style="display:inline;" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" >Delete</button>
                            </form>
                        </div>
                        <div class="full-content mt-3" id="llm-summary-{{ article.id }}" style="display: none;"></div>
                    </div>
                    <div class="article-content" id="article-content-{{ article.id }}" style="display: none;"></div>
                    <div class="full-content mt-3" id="fullContent{{ article.id }}" style="display: none;">
                        <!-- 内容将通过AJAX加载 -->
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/myScript.js?v=1.0.0"></script>
</body>
</html>
